<div class="mini-cart-show">
  <div class="title-your-cart">
    <h2 class="your-bag">Your Bag ({{cart.item_count}} items)</h2>
    <a class="close-minicart" href="#">&times;</a>
  </div>
  <div class="from-free-shipping">
    <div class="title-free-shiping">
      Just $30.00 away from free shipping!
    </div>
    <div class="progess">
      <div class="value-progess"></div>
    </div>
  </div>
{% if cart.item_count > 0 %}

  <div class="list-items-in-cart">

    {% for item in cart.items %}
    <div class="arround-item-in-cart">
      <div class="item-in-cart">
        <div class="div-img-item">
          <img class="img-item" src="{{item.image | img_url: 'master'}}" alt="abcd">
        </div>
        <div class="content-product">
          <span class="title">{{item.title}}</span><br>
          {%- if item.product.has_only_default_variant == false -%}
          {%- for option in item.options_with_values -%}
          <div class="product-option">
            <dt>{{ option.name }}:</dt>
            <dd>{{ option.value }}</dd>
          </div>
          {%- endfor -%}
          {%- endif -%}
          <span class="price-item">{{item.price | money_with_currency}}</span>
          <div class="quantity-item">
            <div class="quantity-to-cart quantity-minicart">
              <div id="Quantity-Form-template--18767417409844__main"
                class="product-form__input product-form__quantity minicart-product-form__quantity">
                <quantity-input class="quantity input-quantity-minicart">
                  <button quantity-product={{item.quantity}}
                    class="quantity__button quantity_button_minicart minus no-js-hidden disabled" item-id={{ item.variant.id}}
                    name="minus" type="button">
                    <span class="visually-hidden">{{ item.id }}</span>
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="icon icon-minus"
                      fill="none" viewBox="0 0 10 2">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M.5 1C.5.7.7.5 1 .5h8a.5.5 0 110 1H1A.5.5 0 01.5 1z" fill="currentColor">
                      </path>
                    </svg>
                  </button>
                  <input class="quantity__input" type="number" name="quantity"
                    id="Quantity-template--18767417409844__main" data-cart-quantity="0" data-min="1" min="1" step="1"
                    value={{item.quantity}} form="product-form-template--18767417409844__main" max="null">
                  <button item-id={{ item.id }} quantity-product={{item.quantity}}
                    class="quantity__button quantity_button_minicart plus no-js-hidden" name="plus" type="button">
                    <span class="visually-hidden">{{ item.id }}</span>
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="icon icon-plus"
                      fill="none" viewBox="0 0 10 10">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M1 4.51a.5.5 0 000 1h3.5l.01 3.5a.5.5 0 001-.01V5.5l3.5-.01a.5.5 0 00-.01-1H5.5L5.49.99a.5.5 0 00-1 .01v3.5l-3.5.01H1z"
                        fill="currentColor">
                      </path>
                    </svg>
                  </button>
                </quantity-input>
                <div class="quantity__rules caption no-js-hidden"></div>
              </div>
            </div>
            <div class="remove-product">
              <a href="#" item-id={{ item.id }} class="remove remove-in-cart">Remove</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
<div class="emty-cart">
  <p class="content-empty">There are no items in your bag. Click <a class="contine-shoping" href="/collections/all">here</a> to continue shopping.</p>  
</div>
{% endif %}
  <div class="totals-checkout">
    <div class="total-price">
      <div class="left-total">
        <h3 class="title-order">Order Total</h3>
      </div>
      <div class="right-total">
        <span class="sub-total-items">{{ cart.total_price | money_with_currency }}</span>
      </div>
    </div>
    <p class="tax-note-total">Shipping & taxes calculated at checkout</p>
    <button id="checkout" class="cart__checkout-button button check-out-btn" name="checkout" form="cart">Go to
      Checkout</button>
  </div>

</div>

<style>
  .mini-cart-show {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: none;
    width: 400px;
    height: 100%;
    border: 1px solid #DDDDDD;
    background-color: #FFFFFF;
  }

  h2.your-bag {
    margin: 0;
  }

  .title-your-cart {
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid #DDDDDD;
  }

  .item-in-cart {
    display: flex;
    margin: 20px 0 0 20px;
    width: auto;
  }

  .div-img-item {
    width: 50%;
  }

  img.img-item {
    width: 100%;
  }

  .content-product {
    margin-left: 10px;
  }

  .list-items-in-cart {
    padding-bottom: 30px;
    height: 550px;
    overflow-y: scroll;
    max-height: 100%;
  }

  a.close-minicart {
    position: absolute;
    top: 10px;
    font-size: 25px;
    text-decoration: none;
    right: 25px;
  }

  .total-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  button.check-out-btn {
    width: 100%;
    background-color: #44464B;
    color: #FFFFFF;
    height: 48px;
  }
{% if cart.item_count > 0 %}
  .totals-checkout {
    margin: 0 20px;
  }
  {% else %}
  .totals-checkout {
    margin: 0 20px;
    position: relative;
    top: 50%;
    transform: translate(0px, -34%);
  }
{% endif %}

  .quantity-minicart {
    width: 50%;
  }

  .input-quantity-minicart {
    height: 43px;
  }

  .quantity-item {
    display: flex;
    margin-right: 24px;
    justify-content: space-between;
  }

  .minicart-product-form__quantity {
    margin: 0px !important;
  }

  .remove-product {
    display: flex;
    align-items: center;
  }

  a.remove {
    color: #717171;
  }

  img.img-item {
    width: 100%;
    height: 129px;
    max-height: 129px;
  }

  .arround-item-in-cart {
    padding-bottom: 20px;
    border-bottom: 1px solid #DDDDDD;
  }

  .quantity-to-cart.quantity-minicart {
    border: 1px solid #DDDDDD;
  }

  .quantity_button_minicart {
    width: calc(3rem / var(--font-body-scale));
  }

  .content-empty {
    text-align: center;
    margin-top: 40%;
    font-weight: 600;
    
  }

  .contine-shoping{
    color: #464951;
  }

  .progess {
    width: 100%;
    height: 10px;
    border: 1px solid #DDDD;
  }

  .value-progess {
      display: block !important;
      height: 8px;
      max-width: 100%;
      background-color: black;
  }

  .title-free-shiping {
      text-align: center;
      margin-bottom: 8px;
  }

  .from-free-shipping {
      padding: 20px;
      border-bottom: 1px solid #DDDD;
  }
</style>