<section>
  {% comment %}
  Tạo ra 1 biến tên là hello_text giá trị bằng Hello world!
  Hiển thị giá trị của biến hello_text ra màn hình
  {% endcomment %}{% assign hello_text = "Hello World !" %}
  {{ hello_text }}
  {% comment %}
  Hiển thị giá trị của biến hello_text ra màn hình nhưng viết hoa toàn bộ
  {% endcomment %}{% assign hello_text = "Hello World !" %}
  {{ hello_text | upcase }}
  {% comment %}
  Thay thế world bằng AHT và hiển thị ra màn hình
  {% endcomment %}{% assign hello_text = "Hello World !" %}
  {{ hello_text | replace: "World", "AHT" }}
  {% comment %}
  Tạo ra 1 biến fruits chứa 1 mảng các giá trị là [apples, oranges, peaches, tomatoes]
  Từ biến đó hiển thị ra màn hình theo dạng apples-oranges-peaches-tomatoes
  {% endcomment %}{% assign fruits = "apples, oranges, peaches, tomatoes" | split: ", " %}
  {{ fruits | join: "-" }}
  {% comment %}
  Hiển thị ra màn hình phần tử thứ 2 của mảng đó
  {% endcomment %}{% assign fruits = "apples, oranges, peaches, tomatoes" | split: ", " %}
  {{ fruits | slice: 1 }}
  {% comment %}
  Tạo ra 1 biến tên là hello_text giá trị bằng Hello world!
  {% endcomment %}{% assign fruits = "apples, oranges, peaches, btomatoes" | split: ", " %}
  {{ fruits | sort | join: ', ' }}
  {% comment %}
  Hiển thị ra màn hình những phần tử có độ dài 7 kí tự
  {% endcomment %}{% assign fruits = "apples, oranges, peaches, tomatoes" | split: ',' %}
  {% for fruit in fruits %}
    {% assign lengthFruit = fruit | size %}
    {% if lengthFruit >= 7 %}
      {{ fruit }}
    {% endif %}
  {% endfor %}
  {% comment %}
  Hiển thị ra màn hình những phần tử có chữ o
  {% endcomment %}
  {% assign fruits = "apples, oranges, peaches, tomatoes" | split: ',' %}
  {% for fruit in fruits %}
    {% if fruit contains "o" %}
      {{ fruit }}
    {% endif %}
  {% endfor %}
  {% comment %}
  Tạo ra 1 biến number có giá trị là 4.3
  {% endcomment %}
  {% assign number = 4.3 %}
  {% comment %}
  Hiển thị ra màn hình biến đó nhưng làm tròn lên
  {% endcomment %}{{ number | ceil }}
  {% comment %}
  Hiển thị ra màn hình biến đó nhưng làm tròn xuống
  {% endcomment %}{{ number | floor }}
  {% comment %}
  Hiển thị ra màn hình biến đó nhân với 10
  {% endcomment %}{{ number | times: 10 }}
  {% comment %}
  Hiển thị ra màn hình biến đó chia cho 2
  {% endcomment %}{{ number | divided_by: 2 }}
</section>
{% schema %}
  {
    "name": "Example app",
    "class": "section",
    "settings": [],
    "presets": [
      {
        "name": "Hero Example"
      }
    ]
  }
{% endschema %}


{% comment %}
Trong page product, hiển thị ra màn hình tất cả tag của sản phẩm
Trong page product, hiển thị ra màn hình description của sản phẩm, nếu không có thì hiển thị text Coming soon
Trong page product, nếu sản phẩm có tag là new hoặc New thì hiển thị ra màn hình text New Product
Trong page product, nếu sản phẩm có giá sale thì hiển thị ra màn hình % sale. Ví dụ: giá gốc 10, giá sale 5 thì hiển thị ra Sale 50%
{% endcomment %}