<section class="slider">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'slide' %}
      <div style="width : {{ block.settings.width-banner }}%" class="banner">
        <img src="{{ block.settings.image-banner | img_url: 'master'}}" alt="">
        <div class="button-slider">
          <span class="content-button" style="top: {{block.settings.possition-top}}px; left:{{block.settings.possition-left}}px; right:{{block.settings.possition-right}}px; bottom:{{block.settings.possition-bottom}}px">{{ block.settings.button-text }}</span>
        </div>
      </div>
  {% else %}

    {% endcase %}
  {% endfor %}
</section>
{% schema %}
  {
    "name": "Multi banner",
    "class": "section",
    "settings": [],
    "blocks": [
      {
        "type": "slide",
        "name": "Hero Content",
        "settings": [
          {
            "type": "image_picker",
            "label": "Image Banner",
            "id": "image-banner"
          },
          {
            "type": "number",
            "label": "width Banner",
            "id": "width-banner"
          },
          {
            "type": "text",
            "id": "button-text",
            "default": "Add the text",
            "label": "Content Button"
          },
          {
            "type": "number",
            "id": "possition-top",
            "label": "Possition Top"
          }, {
            "type": "number",
            "id": "possition-left",
            "label": "Possition Left"
          }, {
            "type": "number",
            "id": "possition-right",
            "label": "Possition Right"
          }, {
            "type": "number",
            "id": "possition-bottom",
            "label": "Possition Bottom"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Slider banner"
      }
    ]
  }
{% endschema %}

<style>
  .slider {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .banner img {
    width: 100%;
  }
  span.content-button {
    position: absolute;
  }
</style>